body {
  background: #666666;
  font-family: 'Orbitron', sans-serif;

}

#Calc {
  background: #ddd;
  padding: 5px;
  margin: 15% auto;
  padding: auto;
  width: 290px;
  height: 448px;
  border-radius: 20px;
  /* box-shadow: 4px 4px 8px 2px #333; */
  box-shadow: inset 1px 1px 10px 2px #333, 3px 3px 9px 2px #333;
}

#header {
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 11px auto;
}

#screen {
  background: #C0D6E4;
  line-height: 45px;
  vertical-align: top;
  font-size: 2em;
  padding-right: 8px;
  border-radius: 10px;
  margin: 10px 13px;
  border: 2px blur #555;
  border-style: inset;
  height: 70px;
  width: auto;
}

#subscreen {
  position: static;
  margin-top: -15px;
  font-size: 0.5em;
}

#span {
  position: static;
  margin-left: 63%;
  font-size: 0.7em;
}
#mainBody {
  padding-left: 20px;
  padding-top: 10px;
}


a.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
   }

a.button:active::before { padding: 1px 0 0; }

/**
 * Grey
 */
a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Orbitron, Helvetica, Clean, sans-serif;
    margin: 0 15px 15px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa;
    width: 49px;
    }

a.button:hover {
    background: #e4e4e4;
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }

a.button:active {
    background: #dfdfdf;
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}

a.button.black {
    background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #555;
    color: #fff;
    text-shadow: 0 1px 0 #2f2f2f; }

a.button.black:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181; }

a.button.black:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e; }
